<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.learn.blog.dao.CategoryDao" >

    <select id="queryCategoryById" resultType="com.learn.blog.model.Category">
        select * from wq_category where id = cast(#{id} as numeric )
    </select>

</mapper>