<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.learn.blog.dao.UserRoleLinkDao" >

    <select id="queryUserRoleLinkByUserId" resultType="com.learn.blog.model.UserRoleLink">
        select * from wq_user_role_link where user_id = #{userId}
    </select>
</mapper>